@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Merriweather, serif;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #512200;
  font-size: 2rem;
  margin: 0;
}

li {
  width: 33.333%;
}

.coco-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

img {
  width: 40px;
  height: auto;
}

header {
  background-color: #cabdb2;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-weight: normal;
  font-size: 1.125rem;
  text-align: center;
  margin: 0;
  padding-left: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #512200;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  font-size: 1.125rem;
  max-width: 20em;
  display: block;
  padding: .5em .75em;
  background-color: #cabdb2;
  text-align: center;

}

a:hover {
  color: #fff;
  background-color: #512200;
  text-decoration: none;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
